@charset "UTF-8"; /*reset css*/
* { font-family: Pretendard, "Pretendard", MalgunGothic, "맑은 고딕", "돋움", Dotum,
 AppleGothic, Sans-serif, Arial; word-break: keep-all; } 

html,body,div,p,span,strong,b,em,iframe,pre,h1,h2,h3,h4,h5,h6,img,dl,dt,dd,
fieldset,form,legend,label,table,caption,thead,tbody,tfoot,tr,th,td,
ul,ol,li,a,input,select,textarea,figure { margin: 0; padding: 0; border: 0 none; } 

input { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 

body { font-family: Pretendard, "Pretendard", MalgunGothic, "맑은 고딕", "돋움", Dotum, AppleGothic, Sans-serif, Arial; } 

strong { font-weight: 500; } 

ul,ol,li { list-style: none; } 
em,address { font-style: normal; } 
img { border: 0 none; font-size: 0; line-height: 0; } 
sup { position: relative; top: 2px; font-size: 8px; line-height: 100%; } 

/*테이블 만들 때 캡션 잊어버리지 말기..*/
table { border-collapse: collapse; border-spacing: 0; } 
caption { overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0; } 
th,td { vertical-align: middle; /* white-space: nowrap */ } 

a { color: #333; text-decoration: none; line-height: 1; } 
a:hover,a:focus,a:active { text-decoration: underline; } 
a:visited { color: #333; } 
*,
html { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 
*,
*:before,
*:after { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 

button { border: none; appearance: none; -webkit-appearance: none; -moz-appearance: none; font-family: "Pretendard", MalgunGothic, "맑은 고딕", "돋움", Dotum,
 AppleGothic, Sans-serif, Arial; cursor: pointer; margin: 0; } 

select { -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; } 
@font-face { font-family: 'WAGURITTF'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2'); font-weight: normal; font-style: normal; } 
@font-face { font-family: 'ONE Mobile Title'; src: url('https://cdn.jsdelivr.net/gh/wooin21/web/fonts/onestore/ONE Mobile Title.woff') format('woff2'); font-weight: normal; font-style: normal; } 



/* 네비게이션 스타일 */
header { position: fixed; top: 0; left: 0; width: 100%; z-index: 1000; background-color: #fff; border-bottom: solid 10px #ddd; } 

.global_nav { display: flex; justify-content: center; padding-top: 10px; } 
.nav_menu { display: flex; margin: 0; padding: 0; list-style: none; } 
.nav_menu li { width: 217px; text-align: center; position: relative; } 
.nav_menu a { display: block; padding: 30px 0; text-decoration: none; color: #999; font-size: 30px; transition: color 0.3s; font-family: 'WAGURITTF'; } 

.btn_down { width: 217px; background: linear-gradient(to right, #2871fa, #6617ce); text-align: left; border-top-left-radius: 40px; border-top-right-radius: 40px; padding-top: 20px; } 
.btn_down .ico { background: url('../img/ico_download.png') no-repeat 10px 0; height: 50px; padding-left: 70px; } 
.btn_down a { color: #fff; font-family: 'Pretendard' !important; font-size: 23px; line-height: 26px; font-weight: 500; text-decoration: none; } 

/* 선택된 메뉴 스타일 */
.nav_menu .active a { color: #370d72; /* 선택된 메뉴 텍스트 색상 */ font-size: 36px; } 
.nav_menu .active::after { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 10px; background-color: #ffc323; transition: all 0.3s ease; } 

/* 기본 Hover 스타일 */
.nav_menu a:hover { color: #370d72; } 

/* 각 섹션 스타일 */
.wrap_bg1, .wrap_bg2, .wrap_bg3, .wrap_bg4, .wrap_bg5 { height: 100vh; /* 각 섹션을 화면 전체 높이로 설정 */ /*margin-top: 60px; */ /* 네비게이션 높이만큼 여백 추가 */ } 

/******* 홈 *******/
.wrap_bg1 { width: 100%; background: linear-gradient(to bottom, #2871fa, #6617ce); padding-top: 100px; } 
h1 { color: #fff; padding: 90px 0 40px; font-size: 50px; text-align: center; font-weight: 500; } 
.top_bg1 { width: 1300px; margin: 0 auto; background: url('../img/top_bg1.png') no-repeat center 30px; min-height: 950px; } 
.top_title1 { width: 764px; height: 106px; background: url('../img/top_title_01.png') no-repeat; margin: 0 auto 5vw; text-indent: -999px; font-size: 0; } 
.top_title2 { width: 636px; height: 93px; background: url('../img/top_title_02.png') no-repeat; margin: 0 auto 5vw; text-indent: -999px; font-size: 0; } 

/* 버튼 */
.btns { height: 90px; display: flex; flex-direction: row; justify-content: center; gap: 52px; margin: 0 auto; } 
.btn_menu { width: 280px; height: 80px; cursor: pointer; border: solid 5px #071c57; border-radius: 100px; background-color: #ffde00; font-size: 30px; font-weight: bold; outline: none; color: #071c57; } 
.btn_menu:hover,
.btn_menu:focus,
.btn_menu:active { height: 80px; background-color: #fff; border-bottom: solid 10px #071c57; } 

.dropdown { display: none; margin-top: 10px; } 
.dropdown a { display: block; margin: 5px 0; text-decoration: none; color: blue; cursor: pointer; } 

#teacherDropdown .btn_menu { width: 280px; height: 50px; cursor: pointer; border: solid 5px #071c57; padding-top:6px; border-radius: 10px; background-color: #ffde00; font-size: 26px; font-weight: bold; outline: none; color: #071c57; text-align: center; } 
#teacherDropdown .btn_menu:hover,
#teacherDropdown .btn_menu:focus,
#teacherDropdown .btn_menu:active { height: 50px; background-color: #fff; } 

#studentDropdown a { width: 280px; height: 50px; cursor: pointer; border: solid 5px #071c57; border-radius: 10px; padding-top:6px; background-color: #ffde00; font-size: 26px; font-weight: bold; outline: none; color: #071c57; text-align: center; } 
#studentDropdown a:hover,
#studentDropdown a:focus,
#studentDropdown a:active,
#studentDropdown a:visited { height: 50px; background-color: #fff; } 




/******* 소개 *******/
.wrap_bg2 { width: 100%; background: url('../img/top_bg2.png') repeat-x 0 0; } 
.top_bg2 { width: 1300px; margin: 0 auto; padding-top: 4vw; } 
h2 { font-family: 'ONE Mobile Title'; font-size: 50px; font-weight: 400; line-height: 73px; color: #222; text-align: center; padding-top: 2vw; padding-bottom: 2vw; } 
#about h2 { padding-top: 3vw; padding-bottom: 5vw; } 

.info_wrap { width: 100%; display: flex; flex-direction: row; justify-content: space-between; } 
.info_photo dt { text-align: center; padding-bottom: 30px; } 
.info_photo dt strong { display: block; font-family: 'WAGURITTF'; font-size: 38px; line-height: 40px; text-align: center; color: #671cce; padding-bottom: 20px; } 
.info_photo dd { width: 90%; margin: 0 auto; font-size: 30px; line-height: 40px; text-align: center; } 




/******* 수업 *******/
.wrap_bg3 { width: 100%; border-bottom: solid 10px #ffe362; } /* 노랑 언더라인bg */
.container { width: 1300px; margin: 0 auto; } 
.point { font-family: 'ONE Mobile Title'; font-size: 50px; font-weight: 400; line-height: 73px; color: #6525d1; } 

/*탭메뉴*/
.tabs { display: flex; flex-direction: row; justify-content: space-between; align-items: center; } 
.tab { width: 280px; height: 90px; border-radius: 100px; background-color: #ddd; color: #aaa; font-size: 50px; font-weight: bold; cursor: pointer; text-align: center; padding-top: 15px; } 
.tab.current { background-color: #ffc000; color: #370d72; } 
/*탭내용*/
.tab-content { display: none; padding: 50px; text-align: center; position: relative; } 
.tab-content.current { display: block; } 

.slide-container { position: relative; overflow: hidden; } 
.slides { display: flex; transition: transform 0.5s ease-in-out; } 
.slide { min-width: 100%; box-sizing: border-box; } 
.navigation { position: absolute; top: 50%; transform: translateY(-50%); width: 100%; display: flex; justify-content: space-between; } 
.nav-button { cursor: pointer; background: none; } 
.nav-button img { display: block; } 
.nav-button img.disabled { display: none; } 
.nav-button[disabled] img { display: none; } 
.nav-button[disabled] img.disabled { display: block; } 
.indicators { display: flex; justify-content: center; margin-top: 30px; } 
.indicator { width: 30px; height: 30px; background-color: #ddd; border-radius: 50%; margin: 0 5px; transition: all 0.3s ease; } 
.indicator.current { width: 60px; background-color: #ffc323; border-radius: 30px; } 

.unit { margin: 0 auto; } 
.unit dt { margin-bottom: 30px; } 
.unit dd { font-size: 30px; line-height: 40px; color: #000; } 
.unit dd strong { display: block; font-family: 'WAGURITTF'; font-size: 60px; line-height: 36px; color: #000; padding-bottom: 42px; } 


/******* AI기능 *******/
.wrap_bg4 { width: 100%; } /* 배경 없음 */
.bg_full { background: linear-gradient(to bottom, #2871fa, #6617ce); padding-bottom: 70px; } 
.bottom-slider { width: 1300px; margin: 0 auto; background: url('../img/bg_ai.png') no-repeat center 0; text-align: center; } 

.ai_cont { padding-top: 80px; } 
.ai_cont dt { font-size: 30px; color: #fff; line-height: 40px; padding-bottom: 50px; } 
.ai_cont dt span { display: block; font-family: 'WAGURITTF'; font-size: 60px; line-height: 36px; color: #fff; line-height: 40px; text-shadow: -3px 0 #6036d8, 0 3px #6036d8, 3px 0 #6036d8, 0 -3px #6036d8; padding-bottom: 30px; } 
.ai_cont dd { padding-top: 10px; } 



/******* 대시보드 *******/
.wrap_scroll { width: 100%; position: relative;} /* 높이 지정 없음 */
.menu_wrap { display: flex; width: 100%; background-color: #fff; padding: 30px 0; position: sticky; top: 116px;/* 헤더 높이 */ z-index: 10; } 
.menu-button { display: flex; justify-content: space-around; width: 680px; margin: 0 auto; } 
.menu-tab { width: 200px; height: 80px; border-radius: 40px; background-color: #ddd; color: #aaa; font-size: 30px; font-weight: 600; cursor: pointer; } 
.menu-tab.active { background-color: #ffc000; color: #370d72; } 
.content-panel { margin-bottom: 60px; } 
.content-panel.active { display: block; } 

.content-box { padding: 20px; text-align: center; } 
.content-panel { display: none; } 
.content-panel.active { display: block; } 

.dashboard { margin: 50px auto 80px; } 
.dashboard dt { margin-bottom: 50px; } 
.dashboard dd { font-size: 30px; line-height: 40px; color: #000; margin-top: 80px;} 
.dashboard dd strong { display: block; font-family: 'WAGURITTF'; font-size: 60px; line-height: 36px; color: #000; padding-bottom: 42px; } 

.dashboard dd.dot { border-bottom: dotted 2px #999; padding-bottom: 80px; } 


/******* 집필진 *******/
.wrap_yellow { width: 100%; background-color:#ffe362; } /* 전체 노랑bg */
.master_wrap { width: 1300px; margin: 0 auto; background: url('../img/master_bg.png') no-repeat; padding-top: 90px; padding-bottom: 100px; } 
.master_img_m { display: none; } 
.master_group { width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; gap: 17px; justify-content: center; margin-top: 28px; } 
.name_wrap { display: flex; flex-direction: row; gap: 10px; justify-content: center; align-items: baseline; padding-top: 20px; } 
.name_50 { font-size: 50px; font-weight: 700; } 
.name_40 { font-size: 40px; font-weight: 700; } 

.name_box { width: 288px; height: 153px; border: dashed 3px #3c1bcb; border-radius: 46px; } 
.name_bg { background-color: #fff; border-radius: 20px; padding: 5px 15px; font-size: 20px; } 

.book_wrap { display: flex; flex-direction: row; gap: 45px; justify-content: center; } 
.book_wrap dt { padding: 8px 26px; border-radius: 30px; width: fit-content; font-size: 26px; font-weight: 700; margin-bottom: 24px; } 
.book_mid { background-color: #b9c400; } 
.book_high { background-color: #23a5b2; color: #fff; } 
.book_wrap dt span { font-size: 22px; font-weight: normal; } 
.book_txt { width: fit-content; margin: 0 auto; padding-top: 77px; text-align: center; } 
.book_txt li { display: flex; flex-direction: row; align-items: center; gap: 8px; font-size: 26px; line-height: 36px; padding: 5px 0; } 
.book_txt li span { font-size: 12px; color: #0037ff; } 

.sw_wrap { display: flex; flex-direction: row; gap: 40px; align-items: flex-start; padding-top: 70px; } 
.sw_wrap li { font-size: 45px; line-height: 40px; font-weight: 700; padding-bottom: 40px; } 
.sw_wrap li span { display: block; font-size: 30px; font-weight: normal; padding: 10px 0; } 

.aidt_guide { width: 1300px; margin: 0 auto; padding: 90px 0; } 
.guide_txt { color: #fff; font-size: 40px; line-height: 76px; text-align: center; font-weight: 600; } 
.guide_txt span { display: block; font-size: 60px; font-family: 'WAGURITTF'; font-weight: normal; } 

.cs_wrap { width: 1300px; margin: 0 auto; display: flex; flex-direction: row; justify-content: center; padding: 50px 0; } 
.cs_wrap dl { width: 400px; } 
.cs_wrap dl.dot_line { border-left: dotted 3px #000; padding-left: 47px; } 
.cs_wrap dl dt { font-size: 50px; line-height: 36px; font-weight: 700; padding-bottom: 35px; } 
.cs_wrap dl dd { font-size: 30px; line-height: 46px; } 

.font_24 { font-size: 24px; line-height: 36px; } 
.font_26 { font-size: 26px; line-height: 36px; } 
.font_30 { font-size: 30px; line-height: 36px; } 

.align_c { margin: 0 auto; text-align: center; } 

.mg_b35 { margin-bottom: 35px; } 
.pd_20 { padding-bottom: 20px; } 
.pd_t60 { padding-top: 60px; } 







/* 테블릿용 스타일 */
@media (max-width: 1024px){
    header  { width: 100vw; border-bottom: solid 5px #ddd;}
    .global_nav { width: 100%; } 
    .nav_menu { width: 100%; }
    .nav_menu li { width: 20%; } 
    .nav_menu a { font-size: 24px; padding: 15px 0; } 
    .nav_menu .active a {  font-size: 30px; } 
    .nav_menu .active::after { content: ''; height: 5px; } 
    .btn_down { width: 20%; border-top-left-radius: 30px; border-top-right-radius: 30px; padding-top: 15px; } 
    .btn_down .ico { background: url('../img/ico_download.png') no-repeat 6px 0; background-size: 30px auto; height: 30px; padding-left: 40px; } 
    .btn_down a { font-size: 16px; line-height: 20px; letter-spacing: -1px;} 

    h1 { font-size: 40px; padding: 55px 0 30px; }
    .top_bg1 { width: 100vw; background-size: contain; }
    .top_title1 { width: 70vw; background-size: 100% auto; } 
    .top_title2 { width: 48vw; background-size: 100% auto; }


    .top_bg2 { width: 100vw; background-size: contain; }
    h2 { font-size: 35px;}
    .info_wrap { width: 100%; display: flex; flex-direction: column; justify-content: center; gap: 50px;} 
    .info_photo dd { font-size: 24px;}

    .wrap_bg1, .wrap_bg2, .wrap_bg3, .wrap_bg4, .wrap_bg5 { height: auto; padding-bottom: 80px;} 

    .container { width: 95vw; }
    .point { font-family: 'ONE Mobile Title'; font-size: 35px; font-weight: 400; line-height: 73px; color: #6525d1; } 

    .tab { width: 22%; height: 58px; border-radius: 50px; font-size: 30px; padding-top: 10px; }
    .tab-content { padding: 20px; }




    .cs_wrap { width: 70vw; } 
    .cs_wrap dl dt { font-size: 34px; padding-bottom: 20px; } 
    .cs_wrap dl dd { font-size: 20px; line-height: 26px; } 
 }

/* 모바일용 스타일 */
@media (max-width: 600px){
 .top_bg1 { width: 95vw; height: 852px; background-size: 100% auto; padding-top: 46px; } 
 
 .cs_wrap { width: 80vw; flex-direction: column; padding-left: 50px; } 
 .cs_wrap dl { width: 100% } 
 .cs_wrap dl dt { font-size: 34px; padding-bottom: 20px; } 
 .cs_wrap dl dd { font-size: 20px; line-height: 26px; } 
 .cs_wrap dl.dot_line { border-left: none; padding-left: 0; padding-top: 40px; } 
 }
